* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  background-color: #f4f4f4;
}

.nav {
  background-color: #b4b4b4;
  height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 0.5vh #2e2e86;
}

.nav .scoreboard {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .scoreboard input {
  width: 10vmin;
  font-family: 'Nunito', sans-serif;
  font-size: 2vmin;
  line-height: 3vmin;
  background-color: #b4b4b4;
  border: none;
  margin: 0 2vmin 0 2vmin;
}

.nav .scoreboard input:focus {
  outline: none;
}

.nav .scoreboard .playerx-name {
  border-bottom: solid 1px #2e2e86;
  text-align: right;
}

.nav .scoreboard .playero-name {
  border-bottom: solid 1px #8f3636;
}

.nav .scoreboard h2 {
  font-size: 4vmin;
  margin: 0 2rem 0 2rem;
  color: #333333;
}

.nav .scoreboard .fa-circle {
  font-size: 4vmin;
  color: #8f3636;
}

.nav .scoreboard .fa-times {
  font-size: 5vmin;
  color: #2e2e86;
}

.nav .computer-toggle {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .computer-toggle h3 {
  text-align: center;
  font-size: 2vmin;
}

.nav .computer-toggle .fa-toggle-off {
  font-size: 5vmin;
  color: #8f3636;
  cursor: pointer;
}

.nav .computer-toggle .fa-toggle-on {
  font-size: 5vmin;
  color: #2e2e86;
  cursor: pointer;
}

.wrapper {
  height: 80vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.wrapper .board {
  background-color: #949494;
  width: 60vmin;
  height: 60vmin;
  padding: 2vmin;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vmin;
  border-radius: 3%;
}

.wrapper .board .tile {
  background-color: #f4f4f4;
  min-width: 10vmin;
  min-height: 10vmin;
  display: grid;
  place-items: center;
  border-radius: 3%;
  cursor: pointer;
  transition: background-color 1s ease;
}

.wrapper .board .tile .fa-circle {
  font-size: 8vmin;
  color: #8f3636;
  pointer-events: none;
}

.wrapper .board .tile .fa-times {
  font-size: 10vmin;
  color: #2e2e86;
  pointer-events: none;
}

.wrapper .board .win {
  background-color: #ecec4b;
}

.display {
  height: 10vh;
  background-color: #b4b4b4;
  border-top: solid 0.5vh #8f3636;
  display: grid;
  place-items: center;
}

.display h2 {
  font-size: 6vmin;
  opacity: 0;
  transition: all 1s ease;
}

.display .win-text {
  opacity: 1;
}
