* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  background-color: #f4f4f4;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.wrapper .board {
  background-color: gray;
  width: 80vmin;
  height: 80vmin;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  border-radius: 1rem;
}

.wrapper .board .tile {
  background-color: #f4f4f4;
  min-width: 10vmin;
  min-height: 10vmin;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 1s ease;
}

.wrapper .board .tile .fa-circle {
  font-size: 10vmin;
  color: #8f3636;
  pointer-events: none;
}

.wrapper .board .tile .fa-times {
  font-size: 10vmin;
  color: #2e2e86;
  pointer-events: none;
}

.wrapper .board .win {
  background-color: #ecec4b;
}
